body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}
.navbar {
  background-color: rgb(24, 24, 24);
  padding: 10px 50px;
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar a {
  color: white;
}
.nav-container {
  text-align: start;
}
.main-content {
  padding: 20px;
}
span {
  color: rgb(255, 0, 0);
}
#get-started-btn {
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

/* Page visibility and role-based rules */
.page {
  display: none;
}
.page.active {
  display: block;
}
body.not-authenticated .role-logged-in {
  display: none;
}
body.authenticated .role-logged-out {
  display: none;
}
.role-admin {
  display: none;
}
body.is-admin .role-admin {
  display: block;
}
